# Abaikan semua folder output dan metadata
**/stream_data/
**/realtime_output/
**/_spark_metadata/

# Abaikan file sampah sistem dan data part
**/*.crc
**/part-*
**/.ipynb_checkpoints/

# Abaikan environment
venv/
.env

data/
*.tgz
__pycache__/